{% extends "base.html" %}

{% block title %}
    <title>Update Todo List</title>
{% endblock title %}


{% block content %}
    <div>
        <h1>Update list</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button>
        </form>
    </div>
{% endblock content %}
