{% extends "base.html" %}

{% block title %}
    <title>Delete List</title>
{% endblock title %}

{% block content %}
    <div>
        <h1>Are you sure?</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Delete</button>
        </form>
    </div>
{% endblock content %}
