<!doctype html>
<html>
    <head>
        {% block title %} {% endblock title %}
    </head>
    <body>
        <header>
            <nav>
                <p><a href="{% url "todo_list_list" %}">Home</a></p>
            </nav>
        </header>
        <main>
            {% block content %} {% endblock content %}
        </main>
    </body>
</html>
